.for-pc {
    display:block;
}
.for-sp-1 {
    display:none;
}
.for-sp {
    display:none;
}
@media only screen and (max-width:768px) {
    .for-pc{display: none;}
    .for-sp-1{display: block;}
    .for-sp{display: none;}
}
@media only screen and (max-width:375px) {
    .for-pc{ display: none}
    .for-sp-1{ display: none;}
    .for-sp{ display: block}
}
.abs {
    position: absolute;
}
.relative {
    position: relative;
}
.top {
    top: 0;
}
.right {
    right: 0;
}
.left-200 {
    left: 200px;
}
.bottom {
    bottom: 0;
}
.left {
    left: 0;
}
.z-index--1 {
    z-index: -1;
}
.brock {
    display: block;
}
al {
    display: flex;
    justify-content:space-between;
}
ul {
    display: flex;
    justify-content:space-between;
    font-size: small
}
.space-1 {
    margin-right: 20px;
    display: inline-block;
}
.gray {
    color: gray;
}
.b-orange {
    background-color: orange;
}
.black {
    color: black;
}
.v-size {
    width: 80%;
    margin:60px 30px 60px;
}
.large {
    font-size: large;
}
.white {
    color: white;
}
.none {
    list-style: none;
}
.center {
    text-align: left;
}
.just {
    display: flex;
    justify-content:space-between;
}
.justify {
    display: flex;
    justify-content: space-around;
}
.tex-size {
    margin: 60px 60px;
}
.margin-20 {
    margin: 20px;
}
.circle-1 {
    display: inline-block;
    border-radius: 35px;
}
.b-orange-1 {
    background-color: orange;
    padding: 20px;
}
a {
    text-decoration: none;
}
.circle-2 {
    display: inline-block;
    border-radius: 35px;
    border: 3px solid;
    border-color: lightgray;
    padding: 20px;
}
.black:hover {
    color: lightgray;
}
.white {
    color: white;
}
.white2 {
    color: white;
}
.white:hover {
    color: lightgray;
}
.opa:hover {
    opacity: 0.8;
}
.small {
    font-size: small;
    left:-15px;
}
.img-size1 {
   width:100px;height:100px
}
.img-size2 {
   width:120px;height:120px
}
.img-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.relative-l5 {
    position: relative;
    left: -15px;
}
.center2 {
    position: relative;
    text-align: center;
}
.align-content {
    display:flex;
    align-items: center;
}
.lightgray {
    color: lightgray;
}
.top--200 {
    top: -200px;
}
.video-wid-350 {
    width: 90%;
    margin: 10px;
    position: relative;
    left: 15px;
}
.fixed-pea {
    display: flex;
    position: fixed;
    top: 0;
    left: -20;
    margin: 0;
    width: 375px;
    height: 50px;
    z-index:3;
    background-color: #ffffff;
}
.small-img {
    width: 130px;
    display: flex;
    position: relative;
    top: 50%;
    left: 30px;
}
.togle-btn {
    top: 12px;
    right: 110px;
    width: 30px;
    height: 30px;
    display: block;
    align-items: center;
    position: fixed;
    cursor:pointer
}
.togle-btn span {
    position: absolute;
    display: block;
    left:0;
    width: 30px;
    height: 2px;
    border-radius: 50px;
    background-color: #202020;
}
.togle-btn span:nth-child(1) {
    top:5px;
}
.togle-btn span:nth-child(2) {
    top:15px;
}
.togle-btn span:nth-child(3) {
    top:25px;
}
.view.togle-btn span:nth-child(1) {
    top:5px;
    transform: translateY(10px) rotate(45deg);
}
.view.togle-btn span:nth-child(2) {
    top:15px;
    opacity: 0;
}
.view.togle-btn span:nth-child(3) {
    top:25px;
    transform: translateY(-10px) rotate(-45deg);
}
.tgl-btn span {
    background-color: white;
}
.left-10 {
    position: relative;
    left: 35px;
    font-size: small;
    color: white;
}
.rela  {
        width:375px;
    position: relative;
    left: -30px;
}
.on {
    color: #ff0000;
}
.menu-sc {
    width: 375px;
    height: 667px;
    position: fixed;
    top: 0;
    left: -5000px;
    background-color: #000000;
    z-index: 10;
    opacity: 0.7;
}
.menu-sc {
    width: 375px;
    height: 667px;
    position: fixed;
    top: 0;
    left: -5000px;
    background-color: #000000;
    z-index: 10;
    opacity: 0.7;
}
.screen.menu-sc {
    left: 0;
    top: 50px;
    z-index: 11;
}
.tab-menu-1 {
    font-size: larger;
    list-style: none;
    color: white;
    display: block;
    flex-direction: column;
    opacity: 1;
}
.tab-content {
    width: 300px;
    height: 60px;
    color: white;
    font-size: large;
    position: relative;
    left: 100px;
}
.tab-k {
    color: orange;
    font-size: smaller;
    position: relative;
    top: -10px;
    left: 10px;
}
.tab-faq {
    position: relative;
    left: 20px;
}
.tab-content-b {
    display: block;
    width: 230px;
    height: 50px;
    border-radius: 25px;
    background-color: orange;
    position: relative;
    left: 40px;
}
.fc {
    position: relative;
    left: 0px;
    top: 15px;
    justify-content: space-between;
    font-size: smaller;
}
.main-1 {
    position: relative;
    top: 60px;
}
.main-1-chi {
    position: relative;
    top: -800px;
    left: -20px;
}
.imgposi-1 {
    position: relative;
    right: -260px;
}
.comment {
    position: relative;
    left: 80px;
    font-size: xx-large;
    justify-content: space-around;
}
.imgs {
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.imgs-1 {
    width: 125px;height: 125px;
}
.imgs-2 {
    width: 160px;height: 160px;
}
.imgs img:nth-child(1) {
    position: relative;
    right: 20px;
}
.imgs img:nth-child(2) {
    position: relative;
    right: 110px;
}
.imgs img:nth-child(3) {
    position: relative;
    right: 200px;
}
.links {
    position: relative;
    justify-content: space-around;
}
.links-1 {
    position: relative;
    left: -45px;
    padding: 20px 50px;
    background-color: orange;
    border-radius: 40px;
}
.links-2 {
    position: relative;
    left: -155px;
    padding: 20px 30px;
    background-color: white;
    border-color: lightgray;
    border-radius: 40px;
}
.vidsize {
    padding-top: 30px;
    width: 65%;
    justify-content: space-around;
}
.main-2 {
    display: flex;
    position: relative;
    top: -670px;
    width: 100%;
    background-color: orange;
}
.sen-1 {
    display: block;
    color: white;
    position: relative;
    left: 150px;
}
.sen-2 {
    font-size: xx-large;
}
.sen-3 {
    width: 500px;
}
.link-1 {
    color: white;
}
.gray-2 {
    color: gray;
    font-size: x-small;
    opacity: 0.9;
    position: relative;
    top: 70px;
    left: 70px;
}
.fixed-tab {
    width: 768px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
}
.fixed-tab-cil {
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.humburger-menu {
    width: 30px;
    height: 30px;
    position: relative;
    top:10px;
    right:20px;
    z-index: 20;
}
.humburger-menu span {
    background-color: gray;
    position: absolute;
    width: 30px;
    height: 2px;
    top: 0;
    left: 0;
}
.humburger-menu span:nth-child(1) {
    top: 5px;
}
.humburger-menu span:nth-child(2) {
    top: 15px;
}
.humburger-menu span:nth-child(3) {
    top: 25px;
}
.view1.humburger-menu span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}
.view1.humburger-menu span:nth-child(2) {
    display: none;
}
.view1.humburger-menu span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}
.menu-sc1 {
    width: 768px;
    height: 690px;
    position: fixed;
    top: 0;
    left: -5000px;
    background-color: #000000;
    z-index: 10;
    opacity: 0.7;
}
.screen1.menu-sc1 {
    left: 0;
    top: 40px;
    z-index: 11;
}
.tab-menu-11 {
    font-size: larger;
    list-style: none;
    color: white;
    display: block;
    flex-direction: column;
    opacity: 1;
    position: relative;
    left: 180px;
}